.price-2016{
    align-content: center;
}
.this-pg {
    flex-flow:row wrap;
    margin-top: -30px;
    flex:auto;
    
}
.river-pic{
           width:100%;}
.top-paragraph1{
    text-align: center;
    margin-left:auto;
    font-stretch: normal;
    
}
.main-salmon{
    
width:100%;
    
}
a{
    color:darkblue;
    text-decoration: none;
}

nav , .tittle-pic {
    position: relative;
}
nav a:link, nav a:visited{
    
}
nav a:hover{
    color:aquamarine;
    background-color:cadetblue; 

        
}

.logo{
/*
    margin-top:-40px;
    margin-bottom: -40px;
*/

    background-image: transparent;
    width: 100px;
    height: 100px;
}
.tittle-pic {
            margin-left: 120px;
            width: 88%;
            flex-flow: row wrap;
            display: flex;
        }
        
        .h-hours {
            margin-left: 45%;
        }
        
        .title {
            font-size: 50px;
            margin-left: ;
            flex-flow: row wrap;
             
        }
      #purpose-white{
    display: inline-flex;
    flex-flow: row wrap;
    display: flex;
    font-size: 15px;
          
}
 
.river-p{
    display: inline-flex;
    display: flex;
}

        .pic {
            width: 400px;
            height: 400px;
            display:flex;
        
        }
    
    .top-paragraph {
        width: 120%;
        margin: 10px auto;
          
}
    .hours {
        
        width: 80%;
        margin: 10px auto;
    
       
    }

#middle {}
#top-row {
    display:inline-flex;
    flex-flow: row wrap;
    font-size: 15px;

}

.hover {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top:-68px;
    font-size: 18px;
    background-color: sandybrown;
    margin-left: 100px;
    border-top-left-radius: 200px 10px;
    border-bottom-left-radius: 200px 10px;
    border-top-right-radius: 200px 10px;
    border-bottom-right-radius: 200px 10px;
    margin-right: -50px;
    
}
ul{
    list-style-type: none;
}
.blue-back {
    background-color: deepskyblue;
}
.green-back {
    background-color: limegreen;
}
.closed-red {
    background-color: red;
    color:white;
    border-color: 5px,
    black;
}
.happy-rafting {
    width: auto;
}
.content {
    width: 80%;
    max-width: 960px;
    Margin: 0 auto;
    font-family: fantasy;
    white-space:normal;
}

section {
    padding: 1px;
    margin-bottom: 10px;
    font-feature-settings: 10px;
    display: flex;
    
}


h2 {
    outline-color: aqua;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}
h2,
h3 {
    color:maroon;
    font-size: 25px;
    text-decoration: underline;
}
body {
    background-color: #6b62ff;
}
p {
    font-family: arial,
    monospace;
    font-size: 15px;
    
}
h1 {
    font-family: Georgia, Times, serif;
}
ul {
    color: aquamarine;
}

    
header {
    position:relative;
}
